<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
              <div class="copyright">	  
				  <script language="JavaScript">
				  <!--
					today=new Date();
					y0=today.getFullYear();
					// end hiding --->
				  </script>Copyright &copy;
				  <script language="JavaScript">
					<!--- Hide from old browsers
					document.write(y0);
					// end hiding --->
				  </script> Caribbean Community Climate Change Center  | 
				  <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a> 
				  <a href="http://www.opendefinition.org/okd/"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"></a>
			  </div>	  
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>