/*----------------Override of ckan base css---------------------*/

.breadcrumb>li {
  display: inline-block;
  text-shadow: 0 0px 0 #505050;
}

.masthead {
  min-height: 55px;
  height: 250px;
  color: #ffffff;
  background: #005d7a url("../../../base/images/bg.png");
}

.cread-media-grid{
  list-style: none;
  padding-bottom: 15px;
  padding-right: 5px;
  background: #fbfbfb url("../../../base/images/bg.png");
  border: 1px solid #dddddd;
  border-width: 1px 0;
  position: relative;
  width: 940px;
  height: 900px;
  margin: 0px auto;
}

div.copyright {
  color: #FFFFFF;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  margin: 0 auto;
  /*padding: 0 10px 5px;*/
  text-align: left;
  text-decoration: none;
  /*width: 940px;*/
}

.cccc-header-right{
	height: 100px;
	width: 450px;
	margin: 0 0 0 auto;
    float: right;
	margin-top: 100px;
}

.masthead hgroup h1, .cccc-header-right-h1{
	font-size: 70px;
	font-style: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #E9E9E9;
	text-shadow: rgb(36, 32, 32) 2px 2px 2px;
}

.cccc-header-left{
	width: 370px;
	margin: 0 0 auto;
	height: 280px;
	margin-top: 15px;
}

body {
  background: #88A054;
}

a {
  color: #2a517b;
  text-decoration: none;
}

.hero {
  background: #3a7b84;
}

[role=main],
.main {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  /*background: #ffffff;*/
  background: #3a7b84;
}

.homepage .module-search .module-content {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  /*background-color: #88A054;*/
  background-color: rgba(58, 123, 132, 0.7);
  border-bottom: none;
}

.homepage .module-search .tags {
  *zoom: 1;
  padding: 5px 10px 10px 10px;
  /*background-color: #4e791e;*/
  background-color: rgba(212, 228, 230, 1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/*.masthead {
    *zoom: 1;
    min-height: 55px;
    color: #ffffff;
	background-color: #cd9123;
	background-image: -moz-linear-gradient(top, #cd9123, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd9123), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #cd9123, #ffffff);
	background-image: -o-linear-gradient(top, #cd9123, #cd9123);
	background-image: linear-gradient(to bottom, #cd9123, #ffffff);
}*/

.masthead {
	background: #ffffff url("../images/banner-head.png") no-repeat;
}

.masthead .site-search {
  margin: 2px 8px 2px 0;
  float: right;
}

.account-masthead {
  *zoom: 1;
  min-height: 30px;
  color: #ffffff;
  background: #3A7B84;
}

.site-footer {
  *zoom: 1;
  min-height: 55px;
  color: #ffffff;
  background: #3A7B84;
  padding: 20px 0;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #73A1A7;
  background-image: -moz-linear-gradient(top, #73A1A7, #D4E4E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73A1A7), to(#D4E4E6));
  background-image: -webkit-linear-gradient(top, #73A1A7, #D4E4E6);
  background-image: -o-linear-gradient(top, #73A1A7, #73A1A7);
  background-image: linear-gradient(to bottom, #73A1A7, #D4E4E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff30778d', endColorstr='#ffDDB469', GradientType=0);
  border-color: #D4E4E6 #D4E4E6 #03202a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #D4E4E6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #ffffff;
}

.account-masthead .account ul li {
  display: block;
  float: left;
  border-left: 0px solid #00232e;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.attribution {
  float: left;
  margin-left: 180px;
  width: 300px;
}

a.tag:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3A7B84;
  border: 1px solid #3A7B84;
  -webkit-box-shadow: inset 0 1px 0 #3A7B84;
  -moz-box-shadow: inset 0 1px 0 #3A7B84;
  box-shadow: inset 0 1px 0 #3A7B84;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: #ffffff;
  background-color: #73A1A7;
}

.account-masthead .account ul li a:hover {
  color: #d9e7eb;
  background-color: #3A7B84;
  text-decoration: none;
}

/*----------------Override of ckanext-mapstore css---------------------*/

.dataset-resources .basket-label-cart {
  background-color: #D19831;
}

.dataset-resources .basket-label-preview {
  background-color: #88A054;
}

/*----------------Custom additional css---------------------*/

.blue_bg{
	/*background: url(../images/menublu_right.png) no-repeat right top;*/
	background-color: #8a544f;
	background-image: -moz-linear-gradient(top, #8a544f, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a544f), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #8a544f, #ffffff);
	background-image: -o-linear-gradient(top, #8a544f, #8a544f);
	background-image: linear-gradient(to bottom, #8a544f, #ffffff);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 3px;
}

.blue_bg a{
	color: #000000;
}

.blue_bg:hover{
	background: #ffffff;
}

.green_bg{
	/*background: url(../images/menugreen_right.png) no-repeat right top;*/
	background-color: #8a544f;
	background-image: -moz-linear-gradient(top, #8a544f, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a544f), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #8a544f, #ffffff);
	background-image: -o-linear-gradient(top, #8a544f, #8a544f);
	background-image: linear-gradient(to bottom, #8a544f, #ffffff);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 3px;
}

.green_bg a{
	color: #000000;
}

.green_bg:hover{
	background: #ffffff;
}

.active_cread{
	background: url(../images/menuhover_right.png) no-repeat right top;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: 3px;
}

.active_cread a{
	color: #000000;
}

.language_cread form label{
  display: block;
  color: #bfd7de;
  font-size: 13px;
  font-weight: normal;
  padding: 0 10px;
  line-height: 31px;
}

#select2-chosen-1{
	color:#000000;
	font-weight: normal;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 31px;
}

.disabled {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 25px;
}

.disabled span{
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  color: #7E7B7B;
  font-size: 14px;
  line-height: 20px;
  margin: -7px -25px;
}

/*------------------- Dataset Page -----------------------*/

.format-label[data-format=geojson-big],
.format-label[data-format*=geojson-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -232px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=kml-big],
.format-label[data-format*=kml-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -174px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=kml-ge-big],
.format-label[data-format*=kml-ge-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -754px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=gml-big],
.format-label[data-format*=gml-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -116px -0px;
    width: 57px;
    height: 60px;
}

.format-label[data-format=two-big],
.format-label[data-format*=two-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -580px -0px;
    width: 57px;
    height: 60px;
}

.format-label[data-format=wfs-big],
.format-label[data-format*=wfs-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: 0px 0px;
    width: 57px;
    height: 60px;
}

.label[data-format=wfs] {
    background-color: #7aae3d;
}
.format-label[data-format=wfs],
.format-label[data-format*=wfs] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: 0px -62px;
}

.format-label[data-format=shp-big],
.format-label[data-format*=shp-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -348px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=pdf-big],
.format-label[data-format*=pdf-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -406px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=xls-big],
.format-label[data-format*=xls-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -464px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=csv-big],
.format-label[data-format*=csv-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -522px 0px;
	width: 57px;
    height: 60px;
}

.format-label[data-format=png-big],
.format-label[data-format*=png-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -696px 0px;
	width: 57px;
    height: 60px;
}

/*.format-label[data-format=png],
.format-label[data-format*=png] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -380px -62px;
	width: 57px;
    height: 60px;
}*/

.format-label[data-format=jpeg-big],
.format-label[data-format*=jpeg-big] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -638px 0px;
	width: 57px;
    height: 60px;
}

/*.format-label[data-format=jpeg],
.format-label[data-format*=jpeg] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -350px -62px;
	width: 57px;
    height: 60px;
}*/

.label[data-format=map] {
    background-color: #1f6443;
}
.format-label[data-format=map] {
    background: url("../images/icons/gis-resources-sprite-icons.png") no-repeat 0 0;
    background-position: -416px -62px;
}

.download-icons{
  margin-left: 0px;
  margin-right: 220px;
}


